body {
  background: #eaeaea;
}

.jumbotron {
  background-image: url("images/bg-100.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navs {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #f6f6e9;
}

#navs .nav-link {
  font-weight: 700;
  color: #f6f6e9;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

#header {
  color: #f6f6e9;
  background-color: rgba(253,95,0,0.3)
}

#intro {
  background: #13334c;
  color: #f6f6e9;
  padding-top: 64px;
  padding-bottom: 48px;
}

#experience {
  padding-top: 64px;
}

#experience h5 {
  color:  #13334c;
}

#education {
  padding-top: 64px;
  padding-bottom: 64px;
}

#education h5 {
  color: #13334c;
}

#current, #current h5 {
  color: #fd5f00;
}