.container {
    max-width: 680px;
    padding-top: 20px;
}

.zc-company>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.zc-timeline>.row {
    padding-bottom: 20px;
}

.zc-timeline h3 {
    margin-top: 10px;
}

.zc-time {
    margin-top: 10px;
}

.zc-title .zc-links {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.zc-links img {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.zc-avater>img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 460px) {
    .zc-company>img {
    	margin-left: auto;
        margin-right: auto;
	margin-top: 20px;
        display: block;
        width: 48px;
	height:48px;
    }
}
